<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996063379937-l0dqltiqq6jrpsbq6u8hm04gihe2mfde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996063379937-l0dqltiqq6jrpsbq6u8hm04gihe2mfde</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996063379937-rf8s61h44tjm68uukmitjrhff1o2eo90.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxwqpUe1dJMAfd9WzwFqfw8XwFuPEL1yE</string>
	<key>GCM_SENDER_ID</key>
	<string>996063379937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-7a32d</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-7a32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996063379937:ios:65f283c7abb1bd57d452a0</string>
</dict>
</plist>